.main {
    border: 2px solid rgb(255, 166, 0) ;
    border-width: 3px;
    margin-left: 550px;
    margin-top: 240px;
    width: 310px; 
    height: 360px;  
    padding: 30px;
    background-color: rgb(250, 226, 226);
}
.wdt1 {
    width: 300px;
    height: 45px;
    /* text-align: right; */
    border: 2px solid rgb(193, 243, 118);
    border-width: 5px;
    border-radius: 15px;
}
.wdt2 {
    width: 300px;
    height: 40px;
    margin-top: 5px;
    border: 2px solid rgb(247, 0, 255);
    border-width: 3px;
    border-radius: 15px;
    background: linear-gradient(rgb(40, 241, 255),white,rgb(21, 186, 252) );
    outline: none;
}
.wdt3 {
    width: 72px;
    height: 40px;
    margin-top: 5px;
    border: 2px solid rgb(247, 0, 255);
    border-width: 3px;
    border-radius: 35px;
    background: linear-gradient(rgb(40, 241, 255),white,rgb(21, 186, 252) );
    outline: none;
}
.wdt7 {
    width: 72px;
    height: 90px;
    margin-top: -50px;   
    margin-left: 228px;
    border: 2px solid rgb(111, 2, 253);
    border-width: 3px;
    border-radius: 15px;
    background: linear-gradient(rgb(40, 241, 255),white,rgb(21, 186, 252) );
    outline: none;
}
#wdt8 {
    border: 2px solid rgb(111, 2, 253);
    border-width: 3px;
}
#wdt9 {
    border: 2px solid rgb(111, 2, 253);
    border-width: 3px;
}
#wdt10 {
    border: 2px solid rgb(111, 2, 253);
    border-width: 3px;
}